.top-banner{
    background-image: url("../../images/beautiful-view-empire-states-skyscrapers-new-york-city_181624-6295.jpg");
    background-size:1410px;
    background-repeat: no-repeat;
    height: 1000px;
}
.banner img{
    width: 220px;
    height: 250px;
}
body{
    overflow-x: hidden;
}