.top-banner{
    background-image: url("../../images/beautiful-architecture-building-cityscape-hong-kong-city_74190-7357.jpg");
    background-size:1410px;
    background-repeat: no-repeat;
    height: 1000px;
}
.banner img{
    width: 220px;
    height: 250px;
}
body{
    overflow-x: hidden;
}